
[submodule "submodules/pathogen"]
		path = submodules/pathogen
		url = https://github.com/tpope/vim-pathogen.git
[submodule "submodules/fugitive"]
	path = submodules/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "submodules/colorsamplerpack"]
	path = submodules/colorsamplerpack
	url = https://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule "submodules/a"]
	path = submodules/a
	url = https://github.com/vim-scripts/a.vim.git
[submodule "submodules/nerdtree"]
	path = submodules/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "submodules/snipmate"]
	path = submodules/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "submodules/matchit"]
	path = submodules/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "submodules/powerline"]
	path = submodules/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "submodules/ack"]
	path = submodules/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "submodules/paren-crosshairs"]
	path = submodules/paren-crosshairs
	url = https://github.com/chreekat/vim-paren-crosshairs.git
[submodule "submodules/ultisnips"]
	path = submodules/ultisnips
	url = https://github.com/vim-scripts/UltiSnips.git

